<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Repo Information
    </mat-panel-title>
    <mat-panel-description>
      Enter the repository information here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" id="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="url" placeholder="URL" id="url">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Depth" id="depth">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" id="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" id="password">
    </mat-form-field>
  </form>
</mat-expansion-panel>
